.toolbar {
  background-color: #1d7074;
  display: flex;
  justify-content: space-between; /* Располагаем контент с обоих концов */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
}
.iconbutton:hover {
  background-color: transparent !important;
  color: inherit !important;
}
.logo {
  height: 80px;
}
/* body {
  background-color: #1d7074;
} */
.white-border {
  border-color: white !important;
}
.loginimg {
  height: 50px;
}
.button_text {
  font-size: 17px !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(8px);
  z-index: 999;
}

.registration {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 55%;
  background-color: #01939a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  animation-duration: 1s;
  animation-name: reg_anim;
}
@keyframes reg_anim {
  from {
    top: 0%;
  }
  to {
    top: 45%;
  }
}
.signup_button {
  color: #ff7600 !important;
  padding: 0px !important;
  font-weight: bold;
  width: 100%;
  justify-content: flex-end !important;
}
