.log_field {
  border: 0px;
  background-color: #e6e6e6;
  border-radius: 5px;
  margin-bottom: 20px !important;
}
.log_field input {
  padding: 0px;
  height: 20px;
  width: 250px;
}

.signup_button {
  color: #ff7600 !important;
  padding: 0px !important;
  font-weight: bold;
  width: 100%;
  justify-content: flex-end !important;
}
